.Title{
    text-align: center;
    color: rgb(19, 19, 163);
    text-shadow: 2px 1px rgba(6, 6, 61, 0.322);
    font-size: 50px;
}

.Message{
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 5px;
    padding: 5px;
    width: 1000px;
    height: 20px;
    background-color: rgb(209, 209, 209);
    border: 3px solid black;
}

.TableBag{
    margin-left: auto !important;
    margin-right: auto !important;
}

.BagDry{
    width: 1000px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(209, 209, 209);
    border: 3px solid rgb(0, 0, 0);
}

.BagWet{
    width: 1000px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(209, 209, 209);
    border: 3px solid rgb(0, 67, 167);
}

.BagFragile{
    width: 1000px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(209, 209, 209);
    border: 3px solid rgb(167, 0, 0);
}

.Submit{
    width: 1000px;
    padding-top: 5px;
    margin-left: auto !important;
}

.Placeholder::-webkit-input-placeholder{
    color: white;
}